* {
  margin: 0%;
}
body {
  font-family: "Cinzel", serif;
}
#articles {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 60px;
}
